@import "~pretty-checkbox/dist/pretty-checkbox.min.css";

.pretty input:checked ~ .state.p-primary label:after,
.pretty.p-toggle .state.p-primary label:after,
.pretty.p-switch.p-fill input:checked ~ .state.p-primary:before {
  background: #297ad6 !important;
}

.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
  border-color: #2979d6;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
  background-color: #2979d6 !important;
}

.pretty .state label {
  text-indent: 2em !important;
}

.fe-link {
  font-size: 13px;
  color: #297ad6;
  text-decoration: underline;
}

.fe-sidebar-nav-item__title{
  width: 190px;
}

.fe-sidebar-nav-item__wrapper {
  display: flex;
  justify-content: space-between;
}

.fe-sidebar-nam-item__delete-button{
  background: url("../../../assets/delete_icon.svg") no-repeat center / contain;
  width: 20px;
  height: 20px;
  transition: transform .5s ease;
  will-change: transform;
}

.fe-sidebar-nam-item__delete-button:hover {
  transform: scale(1.3);
} 
